
body {
    margin: auto;
    text-align: center;
    background-image: linear-gradient(45deg, rgb(189, 247, 191), cyan, rgb(44, 237, 201))
}

#wrapper {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 25px;
    padding: 0px;
}

.jumbotron h1 {
    font-family: 'Righteous', cursive;
    line-height: 1em;
    text-transform: uppercase;
    font-size: 7.5em;
    color: #007bff;
    text-shadow: 5px 5px  white;
    font-weight: bold;
}

.jumbotron h2 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}

button {
    border: none;
}

#configure-settings {
    padding: 0px 75px;
}

.operator-chooser, .difficulty-chooser {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    margin: 5px;
    font-size: 20px;
    min-width: 180px;
    padding: 25px 0px;
    background-color:#ff7050;
}

.btn-primary:not(:disabled):not(.disabled):active,
.operator-chooser:hover, .difficulty-chooser:hover,
.operator-chooser:active, .difficulty-chooser:active,
.operator-chooser:focus, .difficulty-chooser:focus {
    border: none;
    background-color: #ff3508;
    outline: none;
}

.card {
    margin: auto;
    background-color: transparent;
    border: none;
}

form {
    margin: 45px auto;
}

input {
    background-color: transparent;
    border: none;
    font-size: 36px;
    width: 25%;
}

input:focus {
    border: none;
    outline: transparent;
}

#timer {
    position: absolute;
    top: 10px;
    right: 10px;
    }

#corner-link {
    position: absolute;
    top: 10px;
    left: 10px;
    }

#question-section, 
#feedback-section,
#difficulty-buttons {
    display: none;
}

#question-section div {
    margin: auto;
}

hr {
    border: none;
    height: 10px;
    background-color: black;
}

#question {
    font-size: 7em;
    text-align: right;
}

span {
    border-left: 5px solid black;
    border-top: 5px solid black;
    margin-left: 30px;
    padding: 0px 30px;
}

em {
    color: slategray;
    display: inline-block;
    margin-top: 25px;
}

label {
    margin-right: 5px;
}

#readout {
    margin-top: 50px;
}

.alert {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.alert-danger {
    background-color: orangered;
    color: white;
}

.alert-success {
    background-color: limegreen;
    color: white;
}

#stat-wrapper {
    height: 100vh;
    padding: 25px;
}

table {
    background-color: white;
}